{% extends 'base.html.twig' %}

{% block title %}CGU OusMarket ! {% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name':'Conditions Générales d\'Utilisation'}) }}

<div class="container">
    <h1 class="text-center"> Conditions Générales d'Utilisation du site OusMarket</h1>

    <p class="text-justify">
        En cour de Traitement
    </p>
</div>
{% endblock %}
